*{
    font-family: Impact, Charcoal, sans-serif
}

.container_board{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
}

.field{
    border: black solid 1px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 15px 5px;
    font-size: 30px;
}

.field p{
    margin: 0 auto;
    text-align: center;
}
.special_text{
    font-size: 20px;
}

#start{
    background-color: greenyellow;
}
#field-12{
    background-color: red;
}
#field-19{
    background-color: yellow;
}
#meta{
    background-color: greenyellow;
}

.container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.roll_dice {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    font-size: 30px;
    }

.roll_dice:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

#dice_display{
    font-size: 30px;
    text-align: center;
}

#result_display{
    font-size: 30px;
    text-align: center;
}

.pawn{
    display: block;
    height: 100px;;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .container_board{
        width: 90%;
    }
    .field{
        width: 100px;
        height: 100px;
        margin: 10px 3px;
        font-size: 18px;
    }
    .special_text{
        font-size: 14px;
    }
    .roll_dice {
        padding: 15px;
        border-radius: 5px;
        border: none;
        transition: all 0.4s ease 0s;
        font-size: 20px;
        }
    #dice_display{
        font-size: 20px;
        text-align: center;
    }
    #result_display{
        font-size: 20px;
        text-align: center;
    }
    .pawn{
        height: 70px;;
    }
    
  }