*{
    font-family: Impact, Charcoal, sans-serif
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.roll_dice {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    font-size: 30px;
    }

.roll_dice:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

#dice_display{
    font-size: 50px;
}